<%- include('../partials/head'); %>

<%- include('../partials/title-nav'); %>

<main>
<%- include('../partials/message'); %>

<%- include('../partials/forms'); %>
</main>

<%- include('../partials/footer'); %>